---
import ImageComponent from '@/components/my_images/Image.astro';
import './gallery.css';
import type { Image } from '@/lib/types/index';

interface Props {
  images: Array<Image>;
}

const { images } = Astro.props;
---

<section class="m-auto max-w-7xl mb-12">
  <div class="title-container">
    <div class="py-10">GALERÍA</div>
  </div>

  <div
    class="w-fit mx-auto grid grid-cols-1 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 justify-items-center justify-center gap-y-5 gap-x-8"
    uk-lightbox="animation: slide"
  >
    {
      images.map((image: Image, key: number) => (
        <>
          <div class="w-72 bg-white shadow-md rounded-xl duration-300 hover:scale-105 hover:shadow-xl relative">
            <a
              id={`image_${key}`}
              href={image.url}
              data-caption={`${image.alt}`}
            >
              <ImageComponent
                class="w-80 h-80 rounded-xl"
                src={image.url}
                alt={image.alt}
              />
            </a>
          </div>
        </>
      ))
    }
  </div>
</section>
